.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #FFFF;
}

input {
    border-radius: 22px;
    border: 1px solid #999;
    color: #FFFF;
    min-width: 250px;
    width: 85%;
    margin-right: 12px;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border-radius: 22px;
    border: 1px solid #999;
    color:#FFFF;
    margin-right: 12px;
    background-color: #2D333B;
    font-size: 18px;
    padding: 10px;
}

.perfil {
    display: flex;
    margin: 40px 0;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #E5E5E5;
    margin-right: 32px;

}

.perfil h3 {
    color: #999;
    font-size: 24px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.perfil span {
    display: block;
    color: #999;
    font-size: 12px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.perfil p {
    color: #999;
    font-size: 12px;
    margin: 20px 0 0 0;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: 2.2px solid #2D333B;
    width: 100%;
}

.repositorio {
    font-size: 32px;
    color: #FFFF;
    margin: 12px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}