header {
    width: 100%;
    height: 52px;
    flex-shrink: 0;
    background: #2D333B;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;

}