hr {
    border: 2.2px solid #2D333B;
    width: 100%;
}

.item-list {
    margin: 24px 0;
}

.item-list strong {
    color: #539BF5;
    font-size: 24px;
    margin: 24px 0;
    font-family: 'Roboto', sans-serif;
    transition: 200ms ease-in-out;
}

.item-list strong:hover {
    color: #284b70;
    font-size: 25px;
    margin: 24px 0;
    font-family: 'Roboto', sans-serif;
}

.item-list p {
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 24px 0;
}

a {
    text-decoration: none;
}
